{{#section 'head'}}
    <!-- added by timereport.handlebars -->

    <script>
        jQuery(document).ready(function($) {

        })

    </script>
{{/section}}

<div class="bg-primary login-brand">
    <h2>CONQR CMS</h2>
</div>
<div class="container" id="counter" style="width:400px;">
    <button class="btn-lg btn-info btn-block startButton btn" type="button">Starta Arbetspass</button>
    <div  class="login-brand">
        <h1 class="values">00:00:00</h1>
    </div>
</div>